.nav {
  background-color: white;
  border-bottom: 1px solid #f0f1f5;
  padding: 12px 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}
.pInscrit {
  font-size: 14px;
  color: #606e8a;
}
.navContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #111318;
}

.navIcon {
  width: 32px;
  height: 32px;
  color: #3474f4;
}

.navIcon .material-symbols-outlined {
  font-size: 32px;
}

.navTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.015em;
}

.navLinks {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
}

.navLinksGroup {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  font-size: 14px;
  font-weight: 500;
  color: #111318;
  text-decoration: none;
  transition: color 0.2s;
}

.navLink:hover {
  color: #3474f4;
}

.btnPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  background-color: #3474f4;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 4px 12px rgba(52, 116, 244, 0.2);
}

.btnPrimary:hover {
  background-color: #2563eb;
}

.mobileMenuBtn {
  display: none;
  padding: 8px;
  background: none;
  border: none;
  color: #606e8a;
  cursor: pointer;
}
.logoImage {
    width: 200px;
}
@media (max-width: 768px) {
  .nav {
    padding: 12px 16px;
  }

  .navLinks {
    display: none;
  }

  .mobileMenuBtn {
    display: block;
  }
}

.loginLink {
  color: #3474f4;
  text-decoration: none;
  font-weight: 500;
}

.loginLink:hover {
  text-decoration: underline;
}
